.invicible {
  visibility: hidden !important;
}

.opacity-zero {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24rem;
  color: white;
  background: #2C3137;
  display: block;
  margin: 0;
  transition: height 1s ease-in-out;
  font-weight: 400;
}
@media only screen and (max-width: 650px) {
  body {
    font-size: 13rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

textarea {
  -webkit-appearance: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin-top: 93rem;
}

.page-wrap {
  position: relative;
}

.content {
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
}
.content__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

section {
  padding-left: 390rem;
  position: relative;
  z-index: 1;
}

.main__button {
  background: linear-gradient(91.56deg, #FFBB00 -1%, #FFA700 50%, #FFBB00 104%);
  background-size: 200% auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 1s;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 16rem;
}
.main__button:hover {
  background-position: right center;
}
.main__title {
  text-transform: uppercase;
  color: white;
  font-size: 40rem;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.05em;
}
.main__title:before {
  content: "";
  display: block;
  position: absolute;
  top: -20rem;
  left: 0;
  width: 90rem;
  height: 6rem;
  background: linear-gradient(90deg, #FFBB00 -13.33%, #FFA700 100%);
}

.header {
  display: flex;
  height: 93rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 390rem;
  background: #2C3137;
  z-index: 1000;
}
.header__logo {
  display: block;
  width: 168rem;
  height: 54.12rem;
  margin-right: 92rem;
  margin-top: 32rem;
}
.header__logo img, .header__logo svg {
  width: 100%;
}
.header__button {
  width: 156rem;
  height: 31rem;
  font-size: 14rem;
  letter-spacing: 0.02em;
  text-transform: unset;
}
.header__phone {
  display: flex;
  flex-direction: column;
  margin-top: 21rem;
  font-size: 20rem;
  align-items: center;
  font-weight: 400;
}
.header__phone a {
  display: block;
  margin-bottom: 3px;
}
.header__nav {
  margin-top: 51rem;
}

.underline {
  text-decoration: none;
  background-image: linear-gradient(white, white);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  transition: background-size 0.25s;
}
.underline:hover {
  background-size: 100% 2rem;
  background-position: 0% 100%;
}

.nav {
  display: flex;
  margin-right: 92rem;
}
.nav__link {
  position: relative;
  font-size: 20rem;
  height: fit-content;
}
.nav a + a {
  margin-left: 50rem;
}
.nav a + a:before {
  content: "";
  pointer-events: none;
  position: absolute;
  height: 20rem;
  width: 2px;
  left: -25rem;
  top: 2px;
  background: linear-gradient(90deg, #FFBB00 1.67%, #FFA700 100%);
}

.top-slider {
  width: 100%;
  height: 760rem;
  color: #232323;
}
.top-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
}
.top-slider__background {
  width: 100%;
  height: 100%;
}
.top-slider__background img {
  width: 100%;
}
.top-slider__content {
  position: absolute;
  width: 710rem;
  right: 420rem;
  top: 153rem;
  display: flex;
  flex-direction: column;
}
.top-slider__title {
  text-align: right;
  font-size: 70rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 24rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-slider__subtitle {
  text-align: right;
  font-size: 50rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 16rem;
}
.top-slider__separator {
  width: 100%;
  height: 1.5px;
  background: #2C3137;
  margin-bottom: 10rem;
}
.top-slider__description {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40rem;
}
.top-slider__description__item {
  display: flex;
  font-size: 30rem;
  font-weight: 700;
  align-items: flex-end;
}
.top-slider__description__item .num {
  font-size: 80rem;
  line-height: 70rem;
  margin-right: 5px;
}
.top-slider__description__item + .top-slider__description__item {
  margin-left: 20rem;
}
.top-slider__button {
  width: 283rem;
  height: 63rem;
  border-radius: 5rem;
  background: #2C3137;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 18rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.variants {
  width: 100%;
  padding-top: 154rem;
  padding-bottom: 45rem;
}
.variants__title {
  margin-bottom: 10rem;
  margin-left: 390rem;
}
.variants__content {
  margin: 0 auto;
  width: 1024rem;
  display: flex;
  flex-wrap: wrap;
}
.variants__item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.variants__name {
  width: 170rem;
  text-align: center;
  font-size: 18rem;
  font-weight: 700;
}

.repair {
  background: #393f47;
  padding-top: 94rem;
  padding-bottom: 154rem;
  position: relative;
  z-index: 1;
}
.repair__title {
  margin-bottom: 30rem;
  width: 440rem;
}
.repair__button {
  width: 220rem;
  height: 55rem;
}
.repair__text {
  width: 520rem;
  margin-bottom: 29rem;
  font-size: 18rem;
  line-height: 1.58;
}
.repair__image {
  position: absolute;
  top: -110rem;
  right: 70rem;
  width: 1008rem;
  height: 619rem;
}
.repair__image img {
  width: 100%;
}
.repair__background {
  height: 100%;
  width: 410rem;
  position: absolute;
  left: 755rem;
  top: 0;
  background: #2C3137;
  z-index: -1;
}

.offer {
  padding-top: 261rem;
  padding-bottom: 304rem;
  display: flex;
}
.offer__block + .offer__block {
  margin-left: 55rem;
}
.offer__title {
  width: 331rem;
  margin-bottom: 20rem;
}
.offer__points {
  list-style-position: outside;
  width: 482rem;
  font-size: 18rem;
  margin-bottom: 46rem;
}
.offer__points li {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}
.offer__points li:before {
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  background: linear-gradient(107.74deg, #FFBB00 -10.69%, #FFA700 127.78%);
  margin-right: 20rem;
}
.offer__button {
  width: 362rem;
  height: 55rem;
}
.offer__table {
  width: 686.25rem;
  height: 366rem;
  display: flex;
  flex-wrap: wrap;
}
.offer__table-item {
  width: 33.333%;
  height: 50%;
  background: linear-gradient(119.59deg, #FFBB00 2.43%, #FFA700 95%);
  overflow: hidden;
}
.offer__table-item img {
  width: 102%;
}
.offer__number {
  font-size: 64rem;
  font-weight: bold;
  margin-bottom: 21rem;
  margin-top: 25rem;
  text-align: center;
}
.offer__text {
  font-size: 18rem;
  text-align: center;
}
.offer__background {
  position: absolute;
  width: 410rem;
  height: 610rem;
  background: #393f47;
  left: 738rem;
  top: 136rem;
  z-index: -1;
}

.trust {
  padding-top: 80rem;
  height: 558rem;
}
.trust__title {
  margin-bottom: 30rem;
}
.trust__points {
  width: 482rem;
  font-size: 24rem;
}
.trust__points li {
  display: flex;
  align-items: center;
  margin-bottom: 43rem;
  color: rgba(255, 255, 255, 0.8);
}
.trust__points li:before {
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  background: linear-gradient(107.74deg, #FFBB00 -10.69%, #FFA700 127.78%);
  margin-right: 39rem;
}
.trust__background {
  position: absolute;
  width: 965rem;
  height: 100%;
  background: #393f47;
  left: 0;
  top: 0;
  z-index: -1;
}
.trust__image {
  position: absolute;
  width: 926rem;
  height: 683rem;
  bottom: -40rem;
  right: 0;
}
.trust__image img {
  width: 100%;
}

.feedback {
  padding-top: 135rem;
  padding-bottom: 111rem;
}
.feedback__title {
  margin-bottom: 30rem;
}
.feedback__wrapper {
  width: 1110rem;
}
.feedback__item {
  width: 350rem;
  height: 188rem;
  background: #20262a;
  padding: 25rem;
  margin-right: 30rem;
}
.feedback__header {
  margin-bottom: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__name {
  font-size: 24rem;
  font-weight: bold;
}
.feedback__date {
  font-size: 12rem;
}
.feedback__text {
  font-size: 14rem;
}
.feedback .flickity-page-dots {
  bottom: -35rem;
  right: unset;
  width: 100%;
}
.feedback .flickity-page-dots .dot {
  height: 3px;
  width: 55rem;
  margin: 0;
  border-radius: 0;
  background: #393F47;
  opacity: 1 !important;
}
.feedback .flickity-page-dots .dot.is-selected {
  background: #FFBB00;
}
.feedback .flickity-page-dots .dot + .dot {
  margin-left: 13rem;
}

.contacts {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 149rem;
  font-size: 20rem;
}
.contacts__title {
  margin-bottom: 30rem;
}
.contacts__links {
  margin-bottom: 70rem;
}
.contacts__link {
  display: flex;
  align-items: center;
  font-size: 20rem;
  margin-bottom: 10rem;
}
.contacts__link svg {
  width: 24rem;
  height: 24rem;
  margin-right: 10rem;
}
.contacts__addresses {
  margin-bottom: 70rem;
}
.contacts__addresses p {
  margin-bottom: 10rem;
}
.contacts__addresses-title {
  font-weight: bold;
}
.contacts__place {
  cursor: pointer;
}
.contacts__place svg {
  width: 18rem;
  height: 24rem;
  margin-right: 10rem;
}
.contacts__button {
  width: 220rem;
  height: 55rem;
}
.contacts__background {
  position: absolute;
  width: 508rem;
  height: 436rem;
  background: #393f47;
  left: 771rem;
  bottom: 173rem;
  z-index: -1;
}
.contacts__map {
  position: absolute;
  width: 1035rem;
  height: 484rem;
  bottom: 149rem;
  right: 0;
  z-index: 10;
}
.contacts__map iframe {
  width: 100% !important;
  height: 100% !important;
}

.questions {
  background: linear-gradient(90.19deg, #FFBB00 3.21%, #FFA700 96.09%);
  height: 142rem;
}
.questions__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110rem;
  margin: 0 auto;
}
.questions__title {
  text-transform: uppercase;
  font-size: 40rem;
  font-weight: bold;
}
.questions__button {
  cursor: pointer;
  width: 220rem;
  height: 50rem;
  background: #2C3137;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  color: white;
  letter-spacing: unset;
  font-size: 16rem;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 298rem;
  padding-top: 52rem;
}
.footer__logo {
  width: 160rem;
  height: 46rem;
}
.footer__logo svg {
  width: 100%;
  height: 100%;
}
.footer__content {
  margin: 0 auto;
  width: 1110rem;
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 39rem;
}
.footer__separator {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 40rem;
}
.footer__button {
  width: 220rem;
  height: 55rem;
  letter-spacing: unset;
}
.footer__credentials {
  display: flex;
  justify-content: space-between;
  font-size: 14rem;
  color: rgba(255, 255, 255, 0.8);
}
.footer__copyright {
  font-size: 15rem;
  max-width: 300rem;
}
.footer__contacts {
  width: 300rem;
}
.footer__address {
  margin-bottom: 10rem;
}
.footer__email {
  margin-bottom: 16rem;
}
.footer__tel {
  color: white;
}
.footer__phones {
  display: flex;
  justify-content: space-between;
}
.footer__privacy {
  text-decoration: underline;
  width: 150rem;
}
.footer__socials {
  display: flex;
  width: 180rem;
  justify-content: space-between;
}
.footer__socials-link {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
}
.footer__socials-link svg {
  width: 100%;
  height: 100%;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(44, 49, 55, 0.7);
  backdrop-filter: blur(8px);
}
.modal__content {
  width: 710rem;
  background: #FFBB00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15rem;
  margin: 5% auto 0;
  padding: 66rem 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.modal__title {
  font-size: 40rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 22rem;
  color: #232323;
}
.modal__text {
  font-size: 18rem;
  text-align: center;
  width: 470rem;
  margin-bottom: 50rem;
  color: #232323;
}
.modal__input {
  width: 475rem;
  margin-bottom: 39rem;
  padding: 16rem;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5rem;
  font-size: 20rem;
}
.modal__input::placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 18rem;
}
.modal__input.error {
  color: darkred;
  border: 2px solid darkred;
}
.modal__input.error::placeholder {
  color: darkred;
}
.modal__submit {
  width: 347rem;
  height: 55rem;
  background: #2C3137;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  border: none;
  color: white;
  letter-spacing: unset;
  font-size: 16rem;
  font-weight: bold;
}
.modal__captcha {
  margin-bottom: 67rem;
}
.modal__captcha.error {
  border: 2px solid darkred;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 18rem;
  right: 18rem;
  width: 29rem;
  height: 29rem;
}
.modal__close svg, .modal__close img {
  width: 100%;
  height: 100%;
}

/* FLICKITY */
.flickity-button {
  background: transparent;
}
.flickity-button:hover {
  background: transparent;
}
.flickity-button-icon {
  display: none;
}
.flickity-button.previous:before {
  left: 75rem;
  background: url(../img/icons/slider-arrow-prev.svg);
  background-size: cover;
}
.flickity-button.next:before {
  background: url(../img/icons/slider-arrow.svg);
  background-size: cover;
  right: 75rem;
}

.flickity-button:before {
  content: "";
  position: absolute;
  width: 110rem;
  height: 110rem;
  top: -50%;
}

.flickity-page-dots {
  bottom: 86rem;
  right: 425rem;
  width: max-content;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 3px;
  width: 43rem;
  margin: 0;
  border-radius: 0;
  background: white;
  opacity: 1 !important;
}
.flickity-page-dots .dot.is-selected {
  background: #2C3137;
}
.flickity-page-dots .dot + .dot {
  margin-left: 10rem;
}

.fade-enter-active, .fade-leave-active {
  position: absolute;
  transition: opacity 0.1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
